<section data-bs-version="5.1" class="menu menu1 cid-t2waKTFndN" once="menu" id="menu1-1d">


  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
      <div class="container">
          <div class="navbar-brand">

              <span class="navbar-caption-wrap"><a class="navbar-caption text-info display-2" href="index.html">VIDA</a></span>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-danger text-primary display-4" href="page2.html">FORMULARIO</a></li>
                  <li class="nav-item"><a class="nav-link link text-danger text-primary display-4" routerLink="/formulario">TAREFAS</a></li>
                  <li class="nav-item"><a class="nav-link link text-danger text-primary display-4" routerLink="/">REUNIÕES</a>
                  </li><li class="nav-item"><a class="nav-link link text-danger text-primary display-4" href="page7.html">SUPORTE</a></li></ul>


          </div>
      </div>
  </nav>
</section>

