<section data-bs-version="5.1" class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">



  <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(115, 96, 76);"></div>

  <div class="align-center container">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
              <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>BEM VINDO AO VIDA</strong></h1>

              <p class="mbr-text mbr-fonts-style display-7">Fornece um serviço que mude os hábitos na rotina das pessoas de forma a promover um uso eficiente dos recursos e ter uma uma vida mais sustentável.</p>

          </div>
      </div>
  </div>
</section>

<section data-bs-version="5.1" class="content1 cid-s48udlf8KU" id="content1-8">

  <div class="container">
      <div class="row justify-content-center">
          <div class="title col-12 col-md-9">
              <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-5"><strong>Tópico 12 da ODS fala a respeito de consumo e produção responsáveis</strong></h3>
              <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">O atual modelo de produção e consumo tem sido um dos principais vilões no processo de degradação ambiental, em que a população, motivada pelas propagandas comercias, adquire produtos desnecessários e intensifica a destruição da natureza e o uso inconsciente de vários recursos a sua disposição.
<div><br></div></h4>

          </div>
      </div>
  </div>
</section>

<section data-bs-version="5.1" class="image3 cid-s48upRUlSD" id="image3-9">




  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-9">
              <div class="image-wrapper">
                  <a href="index.html"><img src="" alt=""></a>
                  <p class="mbr-description mbr-fonts-style mt-2 align-center display-4"></p>
              </div>
          </div>
      </div>
  </div>
</section>

<section data-bs-version="5.1" class="content1 cid-s48vaXqeL6" id="content1-b">

  <div class="container">
      <div class="row justify-content-center">
          <div class="title col-12 col-md-9">
              <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Resultado Esperado</strong></h3>
              <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">Entre as vantagens do consumo sustentável estão: a diminuição das implicações sociais, ambientais, econômicas e comunitárias, a redução de custos com a economia de recursos, incentivo à inovação, entre outros. O consumo sustentável não incentiva o desperdício.</h4>

          </div>
      </div>
  </div>
</section>

<section data-bs-version="5.1" class="content1 cid-s48vnjULo4" id="content1-c">

  <div class="container">
      <div class="row justify-content-center">
          <div class="title col-12 col-md-9">
              <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Objetivo do Projeto</strong></h3>
              <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">Ser um manual de boas praticas na vida das pessoas onde você encontra dicas gerais de como alcançar a gestão sustentável e o uso eficiente dos recursos naturais.</h4>

          </div>
      </div>
  </div>

</section>
