<section data-bs-version="5.1" class="footer4 cid-t2vT404vYC" once="footers" id="footer4-x">

  <div class="container">
      <div class="row mbr-white">
          <div class="col-6 col-lg-3">
              <div class="media-wrap col-md-8 col-12">
                  <a href="#">
                      <img src="" alt="">
                  </a>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7"><strong>Sobre</strong></h5>
              <p class="mbr-text mbr-fonts-style mb-4 display-4">Ser um manual de boas praticas na vida das pessoas onde você encontra dicas gerais de como alcançar a gestão sustentável e o uso eficiente dos recursos naturais.</p>
              <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7"></h5>

          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                  <strong>Integrantes</strong></h5>
              <ul class="list mbr-fonts-style display-4">
                  <li class="mbr-text item-wrap">Antonio Junio Pardim</li>
                  <li class="mbr-text item-wrap"><span style="font-size: 1.1rem;">Amanda Barbosa Serra&nbsp;</span><br></li>
                  <li class="mbr-text item-wrap">Bruno Marazzi</li><li class="mbr-text item-wrap">Hygor Reis Lourenço</li>
              </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7"></h5>
            <ul class="list mbr-fonts-style display-4">
                <li class="mbr-text item-wrap"><br></li>
            </ul>
        </div>

      </div>
  </div>
</section>

